{% extends "base.html" %}
{% block content %}

    <div class="container">
        <form class="form-horizontal form-signin" name="LoginForm" action="/accounts/change_password" method="post">
            <h2 class="form-signin-heading">Change Password</h2>
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            {{ formerrors }}
            <div class="control-group">
                <label class="control-label sr-only" for="email">E-Mail</label>
                <div class="controls">
                    <input class="form-control" type="text" id="password_old" name="password_old"  placeholder="Current password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label sr-only" for="password1">Password1</label>
                <div class="controls">
                    <input class="form-control" type="password" name="password1" id="password1" placeholder="New password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label sr-only" for="password2">Password2</label>
                <div class="controls">
                    <input class="form-control" type="password" name="password2" id="password2" placeholder="New password (again)">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}